[Unit]
Description=Teknofest Sartname Degisiklik Kontrolu
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStart=/home/sups/Documents/Code/sart_checker/src/check.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
